<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yggdrasil.camerasee">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="yggdrasil.camerasee.MainActivity"
                  android:configChanges="orientation|screenSize"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="설정" >
        </activity>
        <activity
            android:name=".settings.Personal"
            android:label="개인정보 처리방침" >
        </activity>
        <activity
            android:name=".settings.OpenSauce"
            android:label="오픈소스 라이센스" >
        </activity>
        <activity
            android:name=".settings.Version"
            android:label="설정" >
        </activity>
        <activity
            android:name=".settings.SizeCamera0"
            android:label="후면카메라 크기" >
        </activity>
        <activity
            android:name=".settings.SizeCamera1"
            android:label="전면카메라 크기" >
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="yggdrasil.camerasee.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


    </application>

</manifest>